header {
    width: 80vw;
    max-width: 500px;
    min-width: 420px;
    margin: 0 auto;
    padding: 1px 10px;
    background-color: rgb(20, 75, 85);
    color: #FAFAFA;
    
}

header h1 {
    font-style: italic;
    text-align: center;
    font-size: 36pt
}

.box {
    width: 80vw;
    max-width: 500px;
    min-width: 420px;
    margin: 10px auto;
    border: 1px solid black;
    padding: 20px 10px;
    background-color:#FAFAFA;
    
}

.error {
    color: darkred;
    font-style: italic;
    font-size: smaller
}

.submit_button {
    margin-top: 20px;
    text-align: center;
      
}

.box h1 {
    width: 100%;
    text-align: center;
}